<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Sandeep_AdminForm::form" 
            title="Admin Form" 
            module="Sandeep_AdminForm" 
            sortOrder="51" 
            resource="Sandeep_AdminForm::form"
        />
        <add 
            id="Sandeep_AdminForm::uiform" 
            title="Manage Form" 
            module="Sandeep_AdminForm" 
            sortOrder="10" 
            action="form/test/index" 
            resource="Sandeep_AdminForm::uiform" 
            parent="Sandeep_AdminForm::form"
        />
    </menu>
</config>
